h1,
h2,
h3,
h4,
h5,
h6,
a {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #00e;
    text-decoration: none;
}

.text-center {
    text-align: center;
}
