<div>
    <div>
        <a href="{{ "/" | relLangURL }}/">
            <img src="{{ "images/Logo-300w.png" | relURL }}" alt="Logo" class="logo" width="100">
        </a>

        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>

    <nav>
        <ul>
            <li>
                <select class="mobile-menu" id="language-picker" aria-label="Select language">
                    <option value="en">
                        🇺🇸 EN
                    </option>
                    <option value="de">
                        🇩🇪 DE
                    </option>
                </select>
            </li>
        </ul>
    </nav>
</div>
